Image.provider {

    width: 40%;
    height: 40%;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

Image.facilities {

    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

Button.openingTimes {

    width: 40%;
    height: 10%;
    background-color: green;
    color: white;
    font-size: 16;
    text-align:center;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 10px;

}

Button.navigateThere {

    width: 40%;
    height: 10%;
    background-color: green;
    color: white;
    font-size: 16;
    text-align:center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 10px;

}

Label { 

    width: 20%;
    height: 10%;
}

Label.lblFacilities {
    font-size: 18;
    color: black;
    width: 100%;
    height: 5%;
}

Label.leftBar {
    font-size: 14;
    color: black;
    width: 45%;
    height: 10%;
}

Image {
    
    width: 20%;
    height: 10%;
    horizontal-align: center;

}

Label.txtCenter {
    text-align: center;
}